h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}

.page-header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .page-header__nav {
    justify-content: space-between;
  }
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner--centering {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .conteiner--centering-baseline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner--centering-baseline {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo:focus {
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo--color {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.logo__style {
  color: #2196F3;
}

.menu-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.menu-toggle:hover, .menu-toggle:focus .menu-toggle__icon {
  color: #2196F3;
}

.menu-toggle__icon {
  fill: currentColor;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: #212121;
  cursor: pointer;
}

.menu-toggle--close:hover,
.menu-toggle--close:focus .menu-toggle__icon-close {
  color: #2196F3;
}

.mobile-navigation {
  padding: 0;
  margin: 0;
  margin-bottom: 302px;
  list-style: none;
}

.mobile-navigation__item {
  padding-bottom: 32px;
}

.mobile-navigation__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.mobile-navigation__link:hover,
.mobile-navigation__link:focus {
  color: #2196F3;
}

.mobile-contact {
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  list-style: none;
}

.mobile-contact__item-mail {
  margin-bottom: 32px;
}

.mobile-contact__item-phone {
  margin-bottom: 64px;
}

.mobile-contact__link-mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact__link-phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-contact__link-mail:hover,
.mobile-contact__link-mail:focus {
  color: #2196F3;
}

.mobile-contact__link-phone:hover,
.mobile-contact__link-phone:focus {
  color: #2196F3;
}

.mobile-social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-social__item + .mobile-social__item {
  margin-left: 20px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  color: #2196F3;
}
.mobile-social__link::after {
  position: absolute;
  right: -10px;
  bottom: 0;
  display: block;
  content: " ";
  width: 1px;
  height: 100%;
  border-radius: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.site-nav {
  display: flex;
  list-style: none;
  margin-left: 93px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    margin-left: 88px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  color: #2196F3;
}

.feedback {
  display: flex;
  margin-left: auto;
  list-style: none;
}
.feedback__item + .feedback__item {
  margin-left: 50px;
}
@media screen and (max-width: 1199px) {
  .feedback__item + .feedback__item {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .feedback {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .feedback {
    flex-direction: column;
  }
}

.feedback__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__link:hover, .feedback__link:focus {
  color: #2196F3;
}
@media screen and (max-width: 1199px) {
  .feedback__link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.16;
  }
}

.feedback__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .feedback__envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.feedback__smartfon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 1199px) {
  .feedback__smartfon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.hero-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .hero-section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/Header\ img.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 767px) {
  .hero-section {
    max-width: 480px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/Header\ img.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-section__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero-section__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
  }
}

.hero-button {
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 4px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  cursor: pointer;
}
.hero-button:hover, .hero-button:focus {
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero-button {
    padding: 10px 24px;
    min-width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button {
    min-width: 216px;
    padding: 10px 32px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section:nth-child(3) {
    padding-top: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .section-hidden {
    display: none;
  }
}
.section--backgraund {
  background-color: #F5F4FA;
}

.section__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.section__title--hidden {
  display: none;
}
@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.benefits {
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
  }
  .benefits__item + .benefits__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: 354px;
  }
}

.benefits__conteiner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .benefits__conteiner {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .benefits__conteiner {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__conteiner {
    width: 270px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
}
@media screen and (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

.benefits__post {
  font-size: 14px;
  line-height: 1.7;
}

.actings {
  display: flex;
  list-style: none;
}

.actings__item + .actings__item {
  margin-left: 30px;
}

.actings__container {
  position: relative;
}

.actings__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.actings__post {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.actings__post-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
  }
}

.team__item {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .team__image {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__image {
    width: 354px;
  }
}

.team__title {
  padding-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team__post {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social-networks {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 30px;
}

.social-networks__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.customers {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }
}

.customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (max-width: 767px) {
  .customer__link {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}

.customer__ya-and-co-icon {
  width: 41px;
  height: 46px;
  fill: currentColor;
}

.customer__tagline-icon {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.customer__company-icon {
  width: 44px;
  height: 40px;
  fill: currentColor;
}

.customer__foster-icon {
  width: 84px;
  height: 40px;
  fill: currentColor;
}

.customer__brand-icon {
  width: 62.54px;
  height: 45.43px;
  fill: currentColor;
}

.customer__tag-line-icon {
  width: 94px;
  height: 44px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__section {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}

.footer__link--color {
  color: #ffffff;
}

.footer-subscribe {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}
@media screen and (max-width: 767px) {
  .footer-subscribe {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer-subscribe__title {
    text-align: center;
  }
}

.networks {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.networks__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196F3;
}

.networks__icon {
  width: 20px;
  height: 20px;
}

.form-conteiner {
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .form-conteiner {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
}

.form-conteiner__post {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer-form {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .footer-form__label {
    width: 100%;
  }
}

.footer-form__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
@media screen and (max-width: 767px) {
  .footer-form__input {
    margin-bottom: 20px;
    width: 100%;
  }
}

.footer-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-button__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.button-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}

.button-list__item + .button-list__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .button-list__item:first-child {
    padding-left: 15px;
  }
  .button-list__item:nth-child(4) {
    margin-left: 0;
    padding-left: 15px;
  }
}

.button-list__button {
  border-radius: 4px;
  border: transparent;
  padding: 6px 25px;
  font-family: inherit;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list__button:hover, .button-list__button:focus {
  background-color: #2196F3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 30px;
  row-gap: 30px;
}
@media screen and (max-width: 767px) {
  .examples {
    flex-direction: column;
    align-items: center;
  }
}

.examples__item {
  width: 370px;
}
@media screen and (max-width: 767px) {
  .examples__item {
    width: 100%;
  }
}

.examples__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__thumb {
  position: relative;
  overflow: hidden;
}

.examples__image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .examples__image {
    width: 100%;
  }
}

.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover .examples__overlay {
  transform: translateY(0);
}

.examples__text-conteiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
}

.examples__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.examples__container {
  padding: 20px 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.examples__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  background-color: #fff;
}

.examples__post {
  color: #757575;
  font-size: 16px;
  line-height: 1.8;
  background-color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - 30px);
    height: 609px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 2, 0.2, 1);
}
.button-close:hover {
  color: #2196F3;
}

.button-close__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal__post {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.fildset__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fildset__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.fildset__input {
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fildset__input:focus {
  border: 1px solid #2196F3;
}
@media screen and (max-width: 1199px) {
  .fildset__input {
    width: 100%;
  }
}

.fildset__icon {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #212121;
  transform: translateY(115%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fildset__input:focus ~ .fildset__icon {
  color: #2196F3;
}

.fildset__name-icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.fildset__namber-icon {
  width: 13px;
  height: 13px;
  fill: currentColor;
}

.fildset__email-icon {
  width: 15px;
  height: 12px;
  fill: currentColor;
}

.fildset-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.01em;
}

.fildset-comment__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.fildset-comment__textarea {
  padding-top: 12px;
  padding-left: 16px;
  width: 448px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fildset-comment__textarea:focus {
  border: 1px solid #2196F3;
}
@media screen and (max-width: 1199px) {
  .fildset-comment__textarea {
    width: 100%;
  }
}

.check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .check-mark {
    font-size: 12px;
    line-height: 1.16;
  }
}

.check-mark__checkbox {
  appearance: none;
  position: absolute;
}

.check-mark__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url(../images/box.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.check-mark__checkbox:checked ~ .check-mark__icon {
  background-color: #2196F3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
}

.check-mark__link {
  margin-left: 5px;
  color: #2196F3;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}/*# sourceMappingURL=main.css.map */