.actings {
    display: flex;
    list-style: none;
}
.actings__item+.actings__item {
    margin-left: 30px;
}
.actings__container {
    position: relative;
}

.actings__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.actings__post {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bcg-color;
    
}

.actings__post-container {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}