.benefits {
    list-style: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
    }
   
    @media screen and(min-width: 1200px){
        display: flex;
        &__item+&__item {
            margin-left: 30px;
        }
    }
}
.benefits__item{
    @media screen and(min-width: 768px) {
        width: 354px;
    }
}
.benefits__conteiner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and(max-width: 767px) {
        width: 100%;
    }
    @media screen and(min-width: 768px){
        width: 100%;
    }
    @media screen and(min-width: 1200px){
        width: 270px;
    }
}
.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__title {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;

    @media screen and(max-width: 767px) {
        text-align: center;;
    }
}

.benefits__post {
    font-size: 14px;
    line-height: 1.7;
}