.button-list {
    display: flex;
    justify-content: center;

    list-style: none;
    margin-bottom: 50px;
}

.button-list__item+.button-list__item {
    margin-left: 8px;
}

.button-list__button {
    border-radius: 4px;
    border: transparent;
    padding: 6px 25px;

    font-family: inherit;
    background-color: #F5F4FA;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
            background-color: $acent-color;
            color: $primary-bcg-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}