.button-list {
    display: flex;
    justify-content: center;

    list-style: none;
    margin-bottom: 50px;

    @media screen and(max-width: 767px) {
        flex-wrap: wrap;
        justify-content: start;
        row-gap: 15px;
        margin-bottom: 40px;
    }
    @media screen and(min-width: 768px) and(max-width: 1199px){
        margin-bottom: 30px;
    }
}

.button-list__item+.button-list__item {
    margin-left: 8px;
}

.button-list__item{
    @media screen and(max-width: 767px) {
        &:first-child{
            padding-left: 15px;
        }
        &:nth-child(4){
            margin-left: 0;
            padding-left: 15px;
        }
    }
}

.button-list__button {
    border-radius: 4px;
    border: transparent;
    padding: 6px 25px;

    font-family: inherit;
    background-color: #F5F4FA;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
            background-color: $acent-color;
            color: $primary-bcg-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}