.feedback {
    display: flex;
    margin-left: auto;

    list-style: none;
    &__item+ &__item{
        margin-left: 50px;
    }
}
.feedback__link{
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
        color: $acent-color;
    }
}
.feedback__envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.feedback__smartfon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}