.form-conteiner {
    margin-left: 93px;

    @media screen and(max-width: 767px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    @media screen and(min-width: 768px) and(max-width: 1199px){
        margin-left: 0;
    }
}

.form-conteiner__post {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

    @media screen and(min-width: 768px) and(max-width: 1199px) {
        text-align: center;
    }
}

.footer-form {
    display: flex;
    align-items: center;

    @media screen and(max-width: 767px){
        flex-direction: column;
    }

    @media screen and(max-width:1199px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
.footer-form__label{
    @media screen and(max-width: 767px) {
        width: 100%;
    }
}

.footer-form__input {
    padding-left: 16px;

    width: 358px;
    height: 50px;

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    @media screen and(max-width: 767px){
        margin-bottom: 20px;
        width: 100%;
    }

    @media screen and(min-width: 768px) and(max-width: 1199px){
        width: 450px;
        margin-bottom: 20px;
    }
}

.footer-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;

    width: 200px;
    height: 50px;
    background-color: $acent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-button__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}