.hero-section {
    
    @media screen and(min-width: 1200px) {
        max-width: 1600px;
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/hero-img-bg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        
            margin-left: auto;
            margin-right: auto;
            padding-top: 200px;
            padding-bottom: 200px;
        
            background-color: #2F303A;
            text-align: center;
        
    }
}
.hero-section__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;

    color: $primary-bcg-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    background-color: $acent-color;
    color: $primary-bcg-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    cursor: pointer;
    
    &:hover, &:focus{
        color: $primary-bcg-color;
    }
}