.logo {
    width: 145px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    &:focus{
        color: $acent-color;
    }
}
.logo--color{
    display: inline-block;
    margin-bottom: 20px;
   
    color: $primary-bcg-color;
}
.logo__style {
    color: $acent-color;
}