.menu-toggle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus .menu-toggle__icon{
        color: $acent-color;
    }
}
.menu-toggle__icon{
    fill: currentColor;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: $primary-bcg-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $title-text-color;

}
.mobile-navigation{
    padding: 0;
    margin: 0;
    margin-bottom: 302px;
    list-style: none;
}
.mobile-navigation__item{
    padding-bottom: 32px;
}

.mobile-navigation__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: $title-text-color;
    text-decoration: none;
}
.mobile-navigation__link:hover,
.mobile-navigation__link:focus{
    color: $acent-color;
}
.mobile-contact {
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
    list-style: none;
}
.mobile-contact__item-mail{
    margin-bottom: 32px;
}
.mobile-contact__item-phone{
    margin-bottom: 64px;
}
.mobile-contact__link-mail{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: $primary-text-color;
    text-decoration: none;
}
.mobile-contact__link-phone{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    color: $primary-text-color;
    text-decoration: none;
}
.mobile-contact__link-mail:hover,
.mobile-contact__link-mail:focus{
    color: $acent-color;
}
.mobile-contact__link-phone:hover,
.mobile-contact__link-phone:focus {
    color: $acent-color;
}
.mobile-social{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.mobile-social__item + .mobile-social__item{
    margin-left: 20px;
}
.mobile-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;


    color: $acent-color;

    &::after{
    position: absolute;
    right: -10px;
    bottom: 0;
    display: block;
    content: " ";
    width: 1px;
    height: 100%;
    border-radius: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    }
}