.conteiner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    // max-width: 480px;
    // width: 100%;

    @media screen and(min-width: 480px) {
        width: 480px;
        max-width: auto; 
    }

    @media screen and(min-width: 768px) {
        width: 768px;
    }

    @media screen and(min-width: 1200px) {
        width: 1200px;
    }
}
.conteiner--centering {
    @media screen and(min-width: 768px) {
        display: flex;
        align-items: center;
    
    }
}

.conteiner--centering-baseline {
    @media screen and(min-width: 1200px) {
        display: flex;
        align-items: baseline;
    
    }
}