.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &:nth-child(3){
        padding-top: 0px;
    }
}
@media screen and(max-width :1199px) {
    .section-hidden{
        display: none;
    }
    
}
.section--backgraund {
    background-color: #F5F4FA;
}
.section__title {
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    &--hidden{
        display: none;
    }
}