.section {

    @media screen and(max-width:1199px){
        padding-bottom: 60px;
        padding-top: 60px;
    }

    @media screen and(min-width:1200px) {
        padding-top: 94px;
         padding-bottom: 94px;
        
        &:nth-child(3) {
            padding-top: 0px;
        }
        
    }
}
@media screen and(max-width :1199px) {
    .section-hidden{
        display: none;
    }
    
}
.section--backgraund {
    background-color: #F5F4FA;
}
.section__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    &--hidden{
        display: none;
    }

    @media screen and(max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and(min-width: 1200px){
        margin-bottom: 50px;
    }
}