.team {
    list-style: none;
    @media screen and(max-width:767px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
    }

    @media screen and(min-width:1200px) {
        display: flex;
    }
}

.team__item {
    display: inline-block;
    background-color: $primary-bcg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and(max-width:767px){
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }

}

.team__item+.team__item {
    @media screen and(min-width:1200px) {
        margin-left: 30px;
    }
    
}

.team__image {
    display: block;
    max-width: 100%;
    height: auto;

    @media screen and(max-width:767px){
        width: 450px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 354px;
    }
}

.team__title {
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team__post {
    margin-bottom: 16px;
    text-align: center;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}